body{
  background: black;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.main_text h1{
  font-size: 8vh;
  margin-bottom: 0;
}
.main_text h3{
  font-size: 3vh;
  margin-top: 0;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 12vh;
  width: 100vw;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.05) 100%);
}


.main{
  /*background-image: url(https://images.unsplash.com/photo-1534996858221-380b92700493);*/
  /*background-image: url(https://images.unsplash.com/photo-1508379748716-9d2d1c63db1b);*/
  /*background-image: url(https://images.unsplash.com/photo-1572792644425-e9524a8aa2ab);*/
  background-image: url(https://images.unsplash.com/photo-1580106815433-a5b1d1d53d85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: 0% 40%;
  background-size: cover;
  height: 100vh;
  color: white;
}
.main_logo{
  height: 12vh;
}
.main_text{
  position:absolute;
  top: 40%;
  left: 2%;
  text-shadow: 0px 0px 12px black;
}
.logos{
  height: 20vh;
  background-color: #222;
}


.info{
  background: #111;
  height: 100vh;
}

.menuicon{
  height: 2.5vh;
  position: fixed;
  top: 5vh;
  left:92vw;
  cursor: pointer;
}
